{% extends 'shop/layouts/main.html' %}
{% block title %}
    Collections | Shopkart
{% endblock title %}
{% block content %}
<section class="py-5 text-center container" style="margin-top: 70px;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bestsellers</h1>
            <p class="lead text-muted">Our most popular products based on sales. upadated hourly</p>
            <p>
                <a href="{% url 'login' %}" class="btn btn-primary my-2">Already User</a>
                <a href="{% url 'register' %}" class="btn btn-secondary my-2">Register</a>
            </p>
        </div>
    </div>
</section>
<section class="bg-light py-4" style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"><b>Categories</b></h4>
                <hr style="border-color: #b8bfc2;"><br>
                {% include 'shop/inc/message.html' %}
            </div>
            {% for item in category %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.image.url}}" class="card-image-top" alt="Categories" height="250px" width="250px">
                    <a href="{% url 'collections' item.name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
    